In [1]:
import os
import sys

modulesPath = 'C:\\Users\\lorenzoferri1995\\Documents\\GitHub\\AdvDataMining\\__Repo__'

if os.path.isdir(modulesPath) and modulesPath not in sys.path:
    sys.path.append(modulesPath)

modulesList = os.listdir(modulesPath)
print('Available Files and Modules for the project: {}'.format(modulesList))


%matplotlib inline

import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

from collections import defaultdict
import itertools


import data_understanding
import data_preparation
import file_handling

Available Files and Modules for the project: ['datatest.txt', 'datatest2.txt', 'datatraining.txt', 'data_preparation.py', 'data_understanding.py', 'file_handling.py', '__pycache__']

In [22]:
file = file_handling.findFile("datatraining.txt")
df = pd.read_csv(file)

In [16]:
print('Primi Valori del Dataset:')
df.head()

Primi Valori del Dataset:

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

In [17]:
print('Ultimi Valori del Dataset:')
df.tail()

Ultimi Valori del Dataset:

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
8139,2015-02-10 09:29:00,21.05,36.0975,433.0,787.250000,0.005579,1
8140,2015-02-10 09:29:59,21.05,35.9950,433.0,789.500000,0.005563,1
8141,2015-02-10 09:30:59,21.10,36.0950,433.0,798.500000,0.005596,1
8142,2015-02-10 09:32:00,21.10,36.2600,433.0,820.333333,0.005621,1
8143,2015-02-10 09:33:00,21.10,36.2000,447.0,821.000000,0.005612,1

In [18]:
print('Dimensioni del Dataset:\n',
      'Numero di Oggetti: {}'.format(df.shape[0]), '\n',
      'Numero di Attributi: {}'.format(df.shape[1]))

Dimensioni del Dataset:
 Numero di Oggetti: 8143
 Numero di Attributi: 7

In [19]:
print('Data Types degli Attributi:')
df.dtypes

Data Types degli Attributi:

date              object
Temperature      float64
Humidity         float64
Light            float64
CO2              float64
HumidityRatio    float64
Occupancy          int64
dtype: object

In [20]:
print('Numero di Valori Nulli degli Attributi:')
df.isnull().sum()

Numero di Valori Nulli degli Attributi:

date             0
Temperature      0
Humidity         0
Light            0
CO2              0
HumidityRatio    0
Occupancy        0
dtype: int64

In [21]:
print('Numero di Valori pari a 0 degli Attributi:')
(df == 0).sum(axis=0)

Numero di Valori pari a 0 degli Attributi:

date                0
Temperature         0
Humidity            0
Light            5160
CO2                 0
HumidityRatio       0
Occupancy        6414
dtype: int64